{{#each posts as |post|}}
  {{log post}}
  <section data-id="{{post.id}}">
    <h6>Title:</h6>
    <h3>
      {{post.title}}
    </h3>
    <h6>User:</h6>
    <p>
      {{#if post.user}}
        {{post.user}}
      {{else}}
        No user provided.
      {{/if}}
    </p>
  </section>

{{/each}}
