{{#each posts as |post|}}
  {{log post}}
  <section data-id="{{post.id}}">
    <h6>Title:</h6>
    <h3>
      {{limit post.title 15}}
    </h3>
    <h6>User:</h6>
    <p>
      {{#if post.user}}
        {{post.user}}
      {{else}}
        No author provided.
      {{/if}}
    </p>
    <button class="btn btn-danger" data-id="{{post.id}}">Remove Post</button>
    <!-- {{> partial}} -->
  </section>

{{/each}}
